
:root {
    --nav-height: 300px;
}

/* importing fonts */
@font-face {
    font-family: Newspaper;
    src: url('res/font/newspaper.ttf');
}

/* default settings */
* {
    box-sizing: border-box;
    font-family: Newspaper;
    font-weight: normal;
}

/* website body */
html, body {
    height: 100%;
    margin: 0;
    background-color: aliceblue;
}

/* nav bar box */
.nav {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    position: sticky;
    z-index: 1;
    background-color: antiquewhite;
}

/* title heading box */
.title {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: auto;
    margin-left: 20%;
}

/* title heading text */
.title > p {
    color: black;
    font-size: 75px; 
    letter-spacing: 2px;
}

main {
    padding-top: var(--nav-height);
}

.hidden {
    background-color: transparent;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    border: none;
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 10%;
    margin: 0;
}

.hidden-text:hover {
    text-decoration: underline; 
    text-decoration-color: fuchsia;
}

.hidden-text {
    color: fuchsia;
    font-size: 200%;
    letter-spacing: 1px;
    list-style: none;
    text-decoration: none;
}

.hidden-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden > details {
    width: 100%;
}

