
/* storing variables */
:root {
    --nav-height: 120px;
    --item-font-size: 36px;
}

/* importing fonts */
@font-face {
    font-family: Newspaper;
    src: url('res/font/newspaper.ttf');
}

/* default settings */
* {
    box-sizing: border-box;
    font-family: Newspaper;
    font-weight: normal;
}

/* website body */
html {
    background-color: aliceblue;
}

html, body {
    height: 100%;
    margin: 0;
}

/* flex settings */
.flex-start-center {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* nav bar box */
.nav {
    width: 100%;
    height: var(--nav-height);
    top: 0;
    position: sticky;
    z-index: 1;
    color: black;
    background-color: aliceblue;
}

/* title heading box */
.title {
    width: fit-content;
    height: auto;
    margin-left: 20%;
}

/* title heading text */
.title > p {
    font-size: 56px; 
    letter-spacing: 2px;
}

/* container for main grid */
#grid-container {
    display: grid;
    width: 100%;
    row-gap: 30px;
    white-space: nowrap;
}

/* details summary */
.hidden summary {
    list-style: none;
    font-size: var(--item-font-size);
}

/* hover effect */
.hidden summary:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* for images that are children of detail tags */
.hidden-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* for text blocks that are children of detail tags */
.hidden-text {
    padding-left: 30px;
    color: mediumorchid;
}

.hidden {
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: 240px 1fr 1fr 1fr;
    grid-template-rows: 60px;
    column-gap: 30px;
}

/* grid sidebar */
.sb {
    padding-top: calc(var(--item-font-size) / 2);
    padding-left: 25px;
    grid-column: 1 / 2;
}

.mn {
    grid-column: 2 / 3;
}

.sm {
    grid-column: 3 / 4;
}

/* sidebar details */
.sb summary {
    font-size: 18px;
}

#toggle {
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    display: block;
    height: 40px;
    width: 80px;
    border-radius: 40px;
    background-color: dimgray;
    transition: 0.5s;
    cursor: pointer;
}

#toggle .knob {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
}

#toggle.active {
    background-color: bisque;
}

#toggle.active .knob {
    left: 40px;
    background-color: burlywood;
}

html.active {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
}

html.active nav {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
}



